!!! 5
html(lange="en")

	head
		include meta

		//Favicon
		link( rel="shortcut icon", href="/favicon.ico")
		link( rel="apple-touch-icon", href="/apple-touch-icon.png")

		//Css 
		link( rel="stylesheet", type="text/css", media="screen", href="../css/reset.css")
		link( rel="stylesheet", type="text/css", media="screen", href="css/style.css")

		//App Javascript
		script( data-main="app/main.js", src="app/libs/require-jquery.min.js")
		
		//Socket IO Client
		//script( src="http://localhost:8080/socket.io/socket.io.js")

		//Other Javascript
		script( src="app/libs/ga.js")

		//RSS TODO

	body.home
		#Scripts
		#WebsiteApp
			#Views
				include app-raw/views/views
			.section#Login
			.section.game#Game.active
				.zoomed-card.ZoomedCard
				.player.Player
					.cards.Cards
					.board.Board
					.deck.Deck
					.graveyard.Graveyard
					.hand.Hand


				.player.opponent.Opponent
					.cards.Cards
					.board.Board
					.deck.Deck
					.graveyard.Graveyard
					.hand.Hand