| <script type="text/x-jquery-tmpl" id="CardTemplate">

.card.Card(style="background-image: url('images/cards/${img_id}.jpg')", data-area="${area}", data-flipped="false", data-tapped="false", data-id="${id}")

| </script>