!!! 5
html(lange="en")

	head
		include meta

		//Favicon
		link( rel="shortcut icon", href="../public//favicon.ico")
		link( rel="apple-touch-icon", href="../public//apple-touch-icon.png")

		//Css 
		link( rel="stylesheet", type="text/css", media="screen", href="/css/style.css")

		//App Javascript
		script( data-main="/app/main.js", src="/app/libs/require-jquery.min.js")
		
		//Socket IO Client
		script( src="socket.io/socket.io.js")

		//Other Javascript
		//script( src="/app/libs/ga.js")

		//RSS TODO

	body.home
		#Scripts
		#WebsiteApp
			#Views
				include ../public/app-raw/views/views
			.section#Login
			.section.game#Game

				.sidebar.Sidebar
					.logo.Logo
					.chat.Chat
						.conversation.Conversation
						.input
							.background.flash.Flash
							input( type="text", placeholder="Send Message" )
					.elements
						.element.numberA.NumberA
							input( type="text", value="20" )
						.element.numberB.NumberB
							input( type="text", value="20" )
						.element.dice.Dice
						.element.counter.blueCounter.Counter.Draggable
							.inner
						.element.counter.yellowCounter.Counter.Draggable
							.inner
						.element.counter.redCounter.Counter.Draggable
							.inner
						.element.hexagon.Hexagon
							span 20


				.playzone.Playzone
					.zoomed-card.ZoomedCard

					.card-lister.CardLister(data-state="hidden")
						.close.Close
							
						.button.MoveToTop move To Top
						.button.MoveUp move Up
						.list.List
						.button.MoveDown move Down
						.button.MoveToBottom move To Bottom


					.player.opponent.Opponent
						.cards.area.Cards
						.deck.area.cardpile.Deck.Area.CardPile(data-isEmpty="true")
						.hand.area.Hand(data-isEmpty="true")
						.board.area.Board(data-isEmpty="true")
							//.player-name name
						.graveyard.area.cardpile.Graveyard.Area.CardPile(data-isEmpty="true")
						.sideboard.area.cardpile.Sideboard.Area.CardPile(data-isEmpty="true")

					.player.Player
						.cards.area.Cards
						.deck.area.cardpile.Deck.Area.CardPile(data-isEmpty="true")
						.hand.area.Hand.Area(data-isEmpty="true")
						.board.area.Board.Area(data-isEmpty="true")
							//.player-name name
						.graveyard.area.cardpile.Graveyard.Area.CardPile(data-isEmpty="true")
						.sideboard.area.cardpile.Sideboard.Area.CardPile(data-isEmpty="true")
