<!DOCTYPE html>
<html lange="en">
  <head>
    <!--Tech Meta-->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=7">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Basic Meta-->
    <title>Card Fight Club</title>
    <meta name="description" content="WebsitApp Description">
    <meta name="keywords" content="Keyword1, keyword 2">
    <!--Facebook Meta-->
    <meta property="og:title" content="WebsiteApp">
    <meta property="og:site_name" content="WebsiteApp">
    <meta property="og:description" content="Website App Description">
    <meta property="og:image" content="http://imageUrl.jpg">
    <meta property="og:url" content="http://websiteAppURL.com">
    <meta property="og:type" content="website">
    <!--Favicon-->
    <link rel="shortcut icon" href="../public//favicon.ico">
    <link rel="apple-touch-icon" href="../public//apple-touch-icon.png">
    <!--Css -->
    <link rel="stylesheet" type="text/css" media="screen" href="/css/style.css">
    <!--App Javascript-->
    <script data-main="/app/main.js" src="/app/libs/require-jquery.min.js"></script>
    <!--Socket IO Client-->
    <script src="socket.io/socket.io.js"></script>
    <!--Other Javascript-->
    <!--script( src="/app/libs/ga.js")-->
    <!--RSS TODO-->
  </head>
  <body class="home">
    <div id="Scripts"></div>
    <div id="WebsiteApp">
      <div id="Views">
        <!--Header--><script type="text/x-jquery-tmpl" id="CardTemplate">
        <div data-area="${area}" data-flipped="down" data-tapped="" data-zoom="false" data-id="${id}" class="card Card">
          <div class="tap-container">
            <div class="flip-container">
              <div class="img">
                <div class="loading"></div><img src="${image_url}">
              </div><img src="images/back.jpg" class="back">
            </div>
          </div>
        </div></script>
      </div>
      <div id="Login" class="section"></div>
      <div id="Game" class="section game active">
        <div class="sidebar Sidebar">
          <div class="logo Logo"></div>
          <div class="chat Chat">
            <div class="conversation Conversation"></div>
            <div class="input">
              <div class="background flash Flash"></div>
              <input type="text" placeholder="Send Message">
            </div>
          </div>
        </div>
        <div class="playzone Playzone">
          <div class="zoomed-card ZoomedCard"></div>
          <div data-state="hidden" class="card-lister CardLister">
            <div class="close Close"></div>
            <div class="button MoveToTop">move To Top</div>
            <div class="button MoveUp">move Up</div>
            <div class="list List"></div>
            <div class="button MoveDown">move Down</div>
            <div class="button MoveToBottom">move To Bottom</div>
          </div>
          <div class="player opponent Opponent">
            <div class="cards area Cards"></div>
            <div data-isEmpty="true" class="deck area cardpile Deck Area CardPile"></div>
            <div data-isEmpty="true" class="hand area Hand"></div>
            <div data-isEmpty="true" class="board area Board"></div>
            <div data-isEmpty="true" class="graveyard area cardpile Graveyard Area CardPile"></div>
            <div data-isEmpty="true" class="sideboard area cardpile Sideboard Area CardPile"></div>
          </div>
          <div class="player Player">
            <div class="cards area Cards"></div>
            <div data-isEmpty="true" class="deck area cardpile Deck Area CardPile"></div>
            <div data-isEmpty="true" class="hand area Hand Area"></div>
            <div data-isEmpty="true" class="board area Board Area"></div>
            <div data-isEmpty="true" class="graveyard area cardpile Graveyard Area CardPile"></div>
            <div data-isEmpty="true" class="sideboard area cardpile Sideboard Area CardPile"></div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>