@import "style-magic.less";

body{ z-index: -2; background-color:#1e1d24;  }
// Website ==========================
.section{ .op(0); .anim(800ms);
	&.active{  .op(1); .anim(800ms); }
}
#WebsiteApp{z-index:200; .cover-all; min-width:1200px; min-height:800px; .overflow;
	/*.background-image(~"radial-gradient(ellipse at center, transparent 50%, rgba(0,0,0,0.1) 85%, rgba(0,0,0,0.4) 100%),url(../images/noise.png), linear-gradient(-14deg, transparent 0%, rgba(59,202,255,0.3) 100%), linear-gradient(-14deg, rgba(133,48,40,0.1) 0%, transparent 100% )"); .bs(0 0 10px 0 black inset);*/
	background-image:url("../images/bkg.jpg"); background-size:100% 100%;}

//Game ============================


.playzone{ width:85%; height:100%; .abs; left:0; top:0; .unselectable; z-index:-2; 
	.player{ width: 100%; height:50%; .abs; bottom:0; left:0; }
		@backCardImage: url("../images/back.jpg");
		@emtyCardImage: url("../images/empty.jpg");
		@graveyardImage: url("../images/graveyard.jpg");

		.area{}
		.cardpile{ background:@backCardImage no-repeat right center; background-size: contain; .unselectable; .anchor; .br(7px); .anim; }
		.hand{ width:85%; height:176px; .abs; left:10px; bottom:13px; background:fade(white, 2%); .unselectable; .br(6px); border:1px solid rgba(255,255,255,0.04);
			&.Active{ border: 1px solid rgba(255,255,255,0.15); .bs( 0 0 10px 0 rgba(255,255,255,0.15) inset); }
		}
		.board{ width: 85%; height:55%; .abs; left:10px; top:5px; background:fade(white, 2%); .br(6px); border: 1px solid rgba(255,255,255,0.04);
			&.Active{ border: 1px solid rgba(255,255,255,0.1); .bs( 0 0 10px 0 rgba(255,255,255,0.1) inset); }
			.player-name{ .abs; left:5px; top:5px; color:fade(white, 30%);}
		}
		.deck{ width:126px; height:176px; .abs; right:10px; bottom:13px;
			&:hover{ .fancyGreenGlow; .anim;}
			&.Active{ .fancyGreenGlow; }
			&[data-isEmpty="true"]{ background-image: @emtyCardImage;}
		}

		.graveyard{ width:126px; height:176px; .abs; right:10px; bottom:196px;
			&:hover{ .fancyGreenGlow; .anim;}
			&.Active{ .fancyGreenGlow; }
			&[data-isEmpty="true"]{ background-image: @graveyardImage;}
		}

		.cards{ .rel; z-index: 4;}
		.card{ width:126px; height:126px; position:fixed !important; .abs; .unselectable; .anchor; z-index:2;
			.tap-container{ width:126px; height:176px; .abs; left:0; top:0; .br(7px);}
			.flip-container{ .cover-all;  .trans( rotateY(0deg) ); transform-origin: center center 0; transform-style: preserve-3d; .br(7px); }
			.img{ .cover-all; .trans( rotateY(180deg) translateZ(1px) ); transform-origin: center center 0; background:black; .br(7px); }
				.placeholder-name{ .cover-all; color:white;}
				.loading{ width:16px; height:16px; .abs; top:48%; left:50%; margin-left:-8px; background:url("../images/ajax-loader.gif") no-repeat; }
				img{ .cover-all; .br(7px); }
			.back{ .cover-all; .br(7px);}

			&:hover .flip-container{ .fancyBlueGlow; .anim(100ms);}

			&[data-tapped="true"]{ .tap-container{ .trans( rotate( 90deg ) ) }
			}
			&[data-flipped="up"]{
				.flip-container{ .trans( rotateY(-180deg) ); transform-origin: center center 0; .anim; }
			}
		}

	.opponent{  top:0;
		.board{ .abs; bottom:5px; top:auto;
			.player-name{ .abs; bottom:5px;}
		}
		.deck{ top:13px; bottom:none; }
		.graveyard{ bottom:0; top:196px; }
		.hand{ top:13px; bottom:none; }
		.card{ .anim; }
	}

	.zoomed-card{ width:223px; height:310px; .abs; right:0; top:35%; z-index:0; background-repeat:no-repeat; background-position:right center; .br(12px);
		&[data-isZooming="true"]{ z-index:32; }
	}

	.card-lister{ .abs; left:40%; top:50px; padding:5px; background:white; z-index:32;
		.button{ margin-bottom:3px; padding:4px; background:grey; color:white; .br(2px); .ingame-button; } 

		li{ padding:0 10px; color:black; .anchor;
			&:hover{ background:grey;}
			&[data-state="selected"]{ background:green;}
		}
		&[data-state="visible"]{ .shown; }
		&[data-state="hidden"]{ .hidden; }
	}

	.context-menu-list{ min-width:60px; .abs; background:white; .br(3px); .bs( 0px 0px 15px 0px #000 ); .unselectable;
		.context-menu-item{ padding:7px 10px; color:black; .anchor;
			&:hover{ background:black; color:white;}
		}
	}
}

.sidebar{ width:200px; height:100%; .abs; right:0; top:0; z-index:-2 }
	.logo{ width:187; height:68px; .rel; margin:20px auto 0; background: url("../images/logo.png") no-repeat; .op(0.2); .anchor; .anim(300ms); z-index:-1;
		&:hover{ .op(1); .anim(300ms);}
	}
	.chat{ 
		.conversation{ width:80%; height:90%; .abs; left:10px; top:120px; }
			.msg{ width:100%; margin-bottom:2px; color:darken(white, 50%); .fs(9px, 12px); font-family: Verdana, "sans-serif";
				.player{ }
				.action{ }
				.content{}
			}

		.divider{ width:100%; height:2px; margin:10px 0; background:white;}

		.input{ width:190px; height:30px; .abs; left:0; bottom:50px;
			.background{ .cover-all; background:rgba(255,255,255,0.13); .br(3px); }
			.flash{ .anim(275ms);
				&[state="Shown"]{ background:white; }
				&[state="Hidden"]{ background:black; }
			}
			input{ width:90%; height:100%; .abs; left:5%; color:white; border:0; background:transparent;}
		}
	}

	.elements{ .abs; bottom:13px;
		.element{ width:27px; height:27px; .fl; margin-right:5px;  background:white; .br(3px); .tcenter; .bold; 
			input{ width:100%; height:100%; .rel; top:-1px; background:transparent; color:white; border:0; .tcenter; .bold; }
		}
		.numberA{ background:#5aa9fb;}
		.numberB{ background:#ff4f4f;}
		.counter{ width:15px; height:15px; .rel; top:5px; border:1px solid white; .br(10px); .bs(0 0 5px 0 black);
			.inner{ width:11px; height:11px; .br(5px); border:2px solid black; .br(10px); }
			&.blueCounter .inner{ background:#00eaff; }
			&.yellowCounter .inner{ background:#ffca00; }
			&.redCounter .inner{ background:#ff2e00; }
		}
		.dice{  background:url("../images/dice.jpg") no-repeat center center; .anchor; }

		.hexagon{ background:url("../images/hexagon.png") no-repeat center center;
			span{ .rel; top:5px; }
		}
	}

